{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/atom.png' %}">
    <link rel="stylesheet" href="{% static 'css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'js/star-ratings.min.js' %}"></script>

    <title>{% block head_title_1 %}{% endblock %} Orbis</title>

    {% include "head_css.html" %}

  </head>

  <body>
  {% include 'navbar.html' %}
    

    {% block jumbotron_1 %}
    {% endblock %}
    
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=503396599853818";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <div class="container">

    {% block content_1 %}
    {% endblock %}

    </div> <!-- /container -->

{% include 'javascripts.html' %}

  </body>
</html>
