{% extends "site_base.html" %}

{% load urlify %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load pinax_ratings_tags %}


{% block head_title %}pinax-project-account{% endblock %}

{% block body_class %}home{% endblock %}

{% block extra_script %}
{% user_rating_js request.user instance %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=503396599853818";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}

{% block body_base %}

{% include "messages_display.html" %}

</br>
<div class='row'>
<div class='col-sm-4'></div>
<div class='col-sm-4'>
	{% if instance.image %}    
	<img src="{{ instance.image.url }}" class='img-responsive' />
	{% endif %}
    <h1>{{ title }} <small>{% if instance.draft %} <span style='color:red; '>Draft</span> {% endif %}{{ instance.publish }}</small></h1>

    {% if instance.user.get_full_name %}
    <p>Author: {{ instance.user.get_full_name }}</p>
    {% endif %}

    {% overall_rating instance as the_overall_rating %}

    <div class="overall_rating">Overall Ratings: {{ the_overall_rating }}</div>

    {% user_rating request.user instance as the_user_rating %}

    <div class="user_rating">{{ request.user.username }}'s Ratings: {{ the_user_rating }}</div>

    </br>
    
    <div id="user_rating"></div>
    
    </br><p><a href="{{ instance.get_edit_url }}" class="btn btn-danger" role="button">Edit</a></p>

    <p>
    <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>
    </p>

    <p>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
        Facebook
        </a>
    
        <a href="https://twitter.com/home?status={{ instance.content|truncatechars:80|urlify }}%20{{ request.build_absolute_uri }}">
        Twitter
        </a>
    
        <a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>Google Plus</a>
    
        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ instance.title }}&summary={{ share_string }}&source={{ request.build_absolute_uri }}">
        LinkedIn
        </a>
    </p>
</div>
<div class='col-sm-4'></div>
</div>

<div class='row'>
<div class='col-sm-4'></div>
<div class="col-sm-4">
{{ instance.content|linebreaks }}<br/>
    <br></br>
    <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
</div>  
<div class='col-sm-4'></div>
</div>


{% endblock %}