{% extends "site_base.html" %}

{% load urlify %}
{% load i18n %}
{% load pinax_ratings_tags %}

{% block head_title %}Post{% endblock %}

{% block body_class %}home{% endblock %}

{% block extra_script %}
{% user_rating_js request.user instance %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=503396599853818";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}

{% block body_base %}

{% include "messages_display.html" %}

<br>
<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>

	{% if instance.image %}    
	<img src="{{ instance.image.url }}" class='img-responsive center-block'  />
	{% endif %}
	
    <h1>{{ title }} 
    
        <div class="pull-right">    
            
            {% if not has_watched %}
            <a href="{% url 'watchlist_add' instance.slug %}" class="btn btn-default" role="button">Watched</a>
            {% endif %}
            
            {% if has_watched %}
            <a href="{% url 'watchlist_remove' instance.slug %}" class="btn btn-default" role="button">Remove from Watch List</a>
            {% endif %}
            
            {% if request.user.is_staff or request.user.is_superuser %}
            <a href="{{ instance.get_edit_url }}" class="btn btn-danger" role="button">Edit</a>
            {% endif %}
        </div>
    
        <small>
        
        {% if instance.draft %} 
        <span style='color:red; '>Draft</span> 
        {% endif %}
        
        <br>
        {{ instance.publish }} 


        
        
        </small> 
             
    </h1>
    

    <!-- For Full Name Author -->
    {% if instance.user.get_full_name %}
    <p><b>Author: {{ instance.user.get_full_name }}</b></p>
    {% endif %}
    
    {% if instance.user %}
    <p><b>Author: {{ instance.user }}</b></p>
    {% endif %}
    
    {{ instance.content|linebreaks }}
    
    <br>

    {% overall_rating instance as the_overall_rating %}
    <div class="overall_rating">Overall Ratings: {{ the_overall_rating }} / 5.0</div>
    {% user_rating request.user instance as the_user_rating %}
    <br>
    <div class="well">
    <div class="user_rating">Provide Your Ratings: {{ the_user_rating }} / 5.0</div>
    <!-- request.user.username #your username for jinja -->
    <div id="user_rating"></div>
    </div>
    
    <div class="well">
    Official Release: {{ instance.release_date }}
    <a href="{% url 'calendar_create_event_from_post' instance.slug %}" class="btn btn-success btn btn-xs pull-right" role="button">Add to Calendar</a>
    </div>
    
    <br>
    
    <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="false"></div>
    <p><h4>Share this on:</h4>
        <p>
        
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
        <i class="fa fa-facebook-square fa-3x" style="color:#3b5998"></i>
        </a>
        
        <a href="https://twitter.com/home?status={{ instance.content|truncatechars:80|urlify }}%20{{ request.build_absolute_uri }}">
        <i class="fa fa-twitter-square fa-3x" style="color:#4099FF"></i>
        </a>
        
        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ instance.title }}&summary={{ share_string }}&source={{ request.build_absolute_uri }}">
        <i class="fa fa-linkedin-square fa-3x" style="color:#007bb6"></i>
        </a>
        
        <a href="https://plus.google.com/share?url={{ request.build_absolute_uri }}">
        <i class="fa fa-google-plus-square fa-3x" style="color:#D34836"></i>
        </a>
       
        <!-- <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">Facebook</a> -->
        <!-- <a href="https://twitter.com/home?status={{ instance.content|truncatechars:80|urlify }}%20{{ request.build_absolute_uri }}">
        Twitter
        </a> -->
        <!-- <a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>Google Plus</a> -->  
        <!-- <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ instance.title }}&summary={{ share_string }}&source={{ request.build_absolute_uri }}">
        LinkedIn
        </a> -->
        </p>
    </p>
</div>

</div>

<div class='row'>
<div class="col-sm-4 col-sm-offset-3">
<!-- {{ instance.content|linebreaks }}<br/> -->
    <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
</div>  
</div>


{% endblock %}