{% extends "base.html" %}
{% load scheduletags i18n %}
{% block head_title %}Weekly Schedule{% endblock %}

{% block body %}
{% include "schedule/_dialogs.html" %}

<div class="row row-centered">

  <a class="btn btn-default" href="{% url "day_calendar" calendar.slug %}">
      {% trans "Daily" %}
  </a>
  
  <a class="btn btn-info">
      {% trans "Weekly" %}
  </a>
  
  <a class="btn btn-default" href="{% url "compact_calendar" calendar.slug %}">
    {% trans "Month Overview" %}
  </a> 
  
  <a class="btn btn-default" href="{% url "month_calendar" calendar.slug %}{% querystring_for_date period.start 2 %}">
    {% trans "1 Month" %}
  </a>
  
  <a class="btn btn-default" href="{% url "tri_month_calendar" calendar.slug %}">
    {% trans "3 Months" %}
  </a> 
  
  <a class="btn btn-default" href="{% url "year_calendar" calendar.slug %}{% querystring_for_date period.start 1 %}">
    {% trans "Year" %}
  </a>
  
</div>

<div class="row row-centered">
    <h1>{{ calendar.name }}</h1>
    {% prevnext "week_calendar" calendar period "\W\e\ek W, M Y" %}
    <div class="now">
    <br>
      <a class="btn btn-default" href="{% url "week_calendar" calendar.slug %}">
        {% trans "This Week" %}
      </a>
    </div>
</div>

<div class="row row-centered">
<br>
  {% for day in period.get_days %}
  
    <div class="col-sm-4">
      <div class="row row-centered">
        <a href="{% url "day_calendar" calendar.slug %}{% querystring_for_date day.start 3 %}">
          {{day.start|date:"l, d"}}
        </a>
      </div>
      
      {% if forloop.first %}
          {% daily_table day %}
          
      {% else %}
          {% daily_table day %}
          
      {% endif %}
      
    </div>
    
  {% endfor %}
  
</div>

{% endblock %}
